html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: linear-gradient(45deg, #08041d, #200852) fixed;
}

.dws_menu {
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;
}

.dws_menu ul,
.dws_menu ol {
    list-style: none;
}

.dws_menu > ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
}

.dws_menu > ul li a {
    transition: all 0.5s;
    border-radius: 5px;
    display: block;
    background: linear-gradient(100deg, #08041d 0%, #003b42 50%, #08041d 100%);
    background-size: 150%;
    padding: 5px 30px 5px 40px;
    font-size: 14px;
    text-decoration: none;
    color: white;

}

.dws_menu > ul li {
    border-radius: 20px;
    position: relative;
    border: 3px solid #0000;
}


.dws_menu li a:hover {
    background-position: 70%;
    /* filter: saturate(2); */
    /* background: red; */
}

.dws_menu li ul {
    position: absolute;
    display: none;

}

.dws_menu li > ul li a {
    padding: 5px 20px 5px 20px;
}

.dws_menu li:hover ul {
    display: block;
}

#mobile-message {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, 50%);
    display: none;
    color: white;
}

#containerGame {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 300px);
    margin: auto;
    /*margin: 50px auto auto;*/
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* flex: 1 1 auto; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
    /* display: inline-flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    max-width: 600px;
    height: 600px;
    /* font-size: 0; */
}

/* Медиа-запрос для определения ширины окна */
@media (max-width: 630px) and (max-height: 500px) {
    /* Стили для устройств с шириной окна менее 630px */
    #containerGame {
        display: none;
    }
    #mobile-message {
        display: block;
    }
}

#score {
    /* flex-grow: 1; */
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#gameCanvas {
    /* display: inline-flex; */
    /* display: inline-block; */
    /*width: 100%;*/
    /*height: 100%;*/
    border: 15px solid #0099fd;
    box-sizing: border-box;
    box-shadow: 0 0 100px 1px #0099fd;
    font-size: 0;
}

#restart {
    position: absolute;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    visibility: hidden;
}

#restart:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#restart:active {
    color: #000
}

#restart:active:after {
    background: transparent;
}

#restart:hover:before {
    opacity: 1;
}

#restart:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}