@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: linear-gradient(45deg, #08041d, #200852) fixed;
}

#containerMenu {
    display: flex;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 200px;
    top: calc(50% - 100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu-button-set-1 {
    position:absolute;
    display: block;
    padding: 0;
    visibility: hidden;
}

#menu-button-set-2 {
    position:absolute;
    display: block;
    padding: 0;
    visibility: hidden;
}

.form {
    position: absolute;
    width: 200px;
    visibility: hidden;
}

.input-container-snake {
    height: 30px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input-container-room {
    height: 30px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    /* background-color: #15172b; */
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 9px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}




.li-button {
    list-style: none;
    height: 50px;
    width: 200px;
}

/*.dws_menu {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.dws_menu ul,*/
/*.dws_menu ol {*/
/*    list-style: none;*/
/*}*/

/*.dws_menu > ul {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 0;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.dws_menu > ul li a {*/
/*    transition: all 0.5s;*/
/*    border-radius: 5px;*/
/*    display: block;*/
/*    background: linear-gradient(100deg, #08041d 0%, #003b42 50%, #08041d 100%);*/
/*    background-size: 150%;*/
/*    padding: 5px 30px 5px 40px;*/
/*    font-size: 14px;*/
/*    text-decoration: none;*/
/*    color: white;*/

/*}*/

/*.dws_menu > ul li {*/
/*    border-radius: 20px;*/
/*    position: relative;*/
/*    border: 3px solid #0000;*/
/*}*/


/*.dws_menu li a:hover {*/
/*    background-position: 70%;*/
/*}*/

/*.dws_menu li ul {*/
/*    position: absolute;*/
/*    display: none;*/

/*}*/

/*.dws_menu li > ul li a {*/
/*    padding: 5px 20px 5px 20px;*/
/*}*/

/*.dws_menu li:hover ul {*/
/*    display: block;*/
/*}*/

#mobile-message {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, 50%);
    display: none;
    color: white;
}

#containerGame {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 300px);
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 600px;
    visibility: hidden;
}

/* Медиа-запрос для определения ширины окна */
@media (max-width: 630px) or (max-height: 500px) {
    /* Стили для устройств с шириной окна менее 630px */
    #containerGame {
        display: none;
    }
    #containerMenu {
        display: none;
    }
    #mobile-message {
        display: block;
    }
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#gameCanvas {
    border: 15px solid #0099fd;
    box-sizing: border-box;
    box-shadow: 0 0 100px 1px #0099fd;
    font-size: 0;
}

#restart {
    visibility: hidden;
}

.button {
    position: absolute;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    /* visibility: hidden; */
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



nav {
    /* position: absolute; */
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    border: 2px solid #EBECF1;
    border-radius: 30px;
    /*animation: slide-in 1s ease-out;*/
    display: none;
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

nav ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

nav ul li:not(:last-child) {
    margin-right: 40px;
}

nav ul li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
}

nav ul li a {
    color: #2375D8;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #303245;
    border: 2px solid #903245;
    border-right: 2px solid #C03245;
    border-bottom: 2px solid #F03245;
    border-radius: 5px;
    transition: opacity 0.2s, visibility 0.2s;
}

nav ul li ul li {
    margin: -2px 0 0 -2px;
     width: calc(100% - 20px);
    /*width: 100%;*/
    line-height: 1.7;
}

nav ul li ul li a {
    color: #2375D8;
}

nav ul li:hover {
    background: #EC4138;
    border: 2px solid #F05749;
    border-right: 2px solid #E02A21;
    border-bottom: 2px solid #E02A21;
}

nav ul li:hover a {
    color: #F9F8FD;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 3px 5px 2px #EBECF1;
}

nav ul li:hover ul li a {
    color: #F9F8FD;
}


.content, .logo, .logo::before,
.logo::after, .content::before, .content::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {
    /* background-color: black; */
    height: 200px;
    grid-template: repeat(15, 1fr)/repeat(15, 1fr);
    overflow: hidden;
    display: none;
}

.cell {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cell:nth-child(15n+1):hover ~ .content {
    --positionX: 0;
}

.cell:nth-child(n+1):nth-child(-n+15):hover ~ .content {
    --positionY: 0;
}

.cell:nth-child(15n+2):hover ~ .content {
    --positionX: 1;
}

.cell:nth-child(n+16):nth-child(-n+30):hover ~ .content {
    --positionY: 1;
}

.cell:nth-child(15n+3):hover ~ .content {
    --positionX: 2;
}

.cell:nth-child(n+31):nth-child(-n+45):hover ~ .content {
    --positionY: 2;
}

.cell:nth-child(15n+4):hover ~ .content {
    --positionX: 3;
}

.cell:nth-child(n+46):nth-child(-n+60):hover ~ .content {
    --positionY: 3;
}

.cell:nth-child(15n+5):hover ~ .content {
    --positionX: 4;
}

.cell:nth-child(n+61):nth-child(-n+75):hover ~ .content {
    --positionY: 4;
}

.cell:nth-child(15n+6):hover ~ .content {
    --positionX: 5;
}

.cell:nth-child(n+76):nth-child(-n+90):hover ~ .content {
    --positionY: 5;
}

.cell:nth-child(15n+7):hover ~ .content {
    --positionX: 6;
}

.cell:nth-child(n+91):nth-child(-n+105):hover ~ .content {
    --positionY: 6;
}

.cell:nth-child(15n+8):hover ~ .content {
    --positionX: 7;
}

.cell:nth-child(n+106):nth-child(-n+120):hover ~ .content {
    --positionY: 7;
}

.cell:nth-child(15n+9):hover ~ .content {
    --positionX: 8;
}

.cell:nth-child(n+121):nth-child(-n+135):hover ~ .content {
    --positionY: 8;
}

.cell:nth-child(15n+10):hover ~ .content {
    --positionX: 9;
}

.cell:nth-child(n+136):nth-child(-n+150):hover ~ .content {
    --positionY: 9;
}

.cell:nth-child(15n+11):hover ~ .content {
    --positionX: 10;
}

.cell:nth-child(n+151):nth-child(-n+165):hover ~ .content {
    --positionY: 10;
}

.cell:nth-child(15n+12):hover ~ .content {
    --positionX: 11;
}

.cell:nth-child(n+166):nth-child(-n+180):hover ~ .content {
    --positionY: 11;
}

.cell:nth-child(15n+13):hover ~ .content {
    --positionX: 12;
}

.cell:nth-child(n+181):nth-child(-n+195):hover ~ .content {
    --positionY: 12;
}

.cell:nth-child(15n+14):hover ~ .content {
    --positionX: 13;
}

.cell:nth-child(n+196):nth-child(-n+210):hover ~ .content {
    --positionY: 13;
}

.cell:nth-child(15n+15):hover ~ .content {
    --positionX: 14;
}

.cell:nth-child(n+211):nth-child(-n+225):hover ~ .content {
    --positionY: 14;
}

.content {
    --positionX: 7;
    --positionY: 7;
    position: absolute;
    /* top: 0; */
    right: 0;
    /* bottom: 0; */
    left: 0;
    display: flex;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.css {
    font-family: "Fredoka One", cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: color 3s infinite linear;
    animation: color 3s infinite linear;
    text-shadow: 0 0 10px #000a;
    transition: all 0.5s;
}
.css:nth-child(1) {
    font-size: 100px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    opacity: 0.1;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 21px)) translateY(calc(-50% - (var(--positionY) - 7) * 21px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(2) {
    font-size: 110px;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
    opacity: 0.2;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 18px)) translateY(calc(-50% - (var(--positionY) - 7) * 18px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(3) {
    font-size: 120px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    opacity: 0.3;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 15px)) translateY(calc(-50% - (var(--positionY) - 7) * 15px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(4) {
    font-size: 130px;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    opacity: 0.4;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 12px)) translateY(calc(-50% - (var(--positionY) - 7) * 12px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(5) {
    font-size: 140px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    opacity: 0.5;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 9px)) translateY(calc(-50% - (var(--positionY) - 7) * 9px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(6) {
    font-size: 150px;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    opacity: 0.6;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 6px)) translateY(calc(-50% - (var(--positionY) - 7) * 6px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(7) {
    font-size: 160px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    opacity: 0.7;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 3px)) translateY(calc(-50% - (var(--positionY) - 7) * 3px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(8) {
    font-size: 170px;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
    opacity: 0.8;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * 0px)) translateY(calc(-50% - (var(--positionY) - 7) * 0px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(9) {
    font-size: 180px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    opacity: 0.9;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * -3px)) translateY(calc(-50% - (var(--positionY) - 7) * -3px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
.css:nth-child(10) {
    font-size: 190px;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    opacity: 1;
    transform: translateX(calc(-50% - (var(--positionX) - 7) * -6px)) translateY(calc(-50% - (var(--positionY) - 7) * -6px)) rotateX(calc(0deg - (var(--positionY) - 7) * 5deg)) rotateY(calc((var(--positionX) - 7) * 5deg));
}
@-webkit-keyframes color {
    0% {
        color: #ef8f8f;
    }
    10% {
        color: #efc98f;
    }
    20% {
        color: #dcef8f;
    }
    30% {
        color: #a3ef8f;
    }
    40% {
        color: #8fefb6;
    }
    50% {
        color: #8fefef;
    }
    60% {
        color: #8fb6ef;
    }
    70% {
        color: #a38fef;
    }
    80% {
        color: #dc8fef;
    }
    90% {
        color: #ef8fc9;
    }
    100% {
        color: #ef8f8f;
    }
}
@keyframes color {
    0% {
        color: #ef8f8f;
    }
    10% {
        color: #efc98f;
    }
    20% {
        color: #dcef8f;
    }
    30% {
        color: #a3ef8f;
    }
    40% {
        color: #8fefb6;
    }
    50% {
        color: #8fefef;
    }
    60% {
        color: #8fb6ef;
    }
    70% {
        color: #a38fef;
    }
    80% {
        color: #dc8fef;
    }
    90% {
        color: #ef8fc9;
    }
    100% {
        color: #ef8f8f;
    }
}
