<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="no-cache, no-store, must-revalidate">
    <title>Zmake game</title>
    <link rel="icon" href="../web/images/snake2.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../web/styles.css">
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>-->
<!--    ?v=<%= System.currentTimeMillis() %-->
</head>
<body>
    <div id="logotype" class="logo">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>


        <div class="content">
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
            <div class="css">ZMAKE</div>
        </div>
    </div>
    <div id="containerMenu">
        <ul id="menu-button-set-1">
            <li class="li-button"><button class="button" id="single-user-button">Одиночный режим</button></li>
            <li class="li-button"><button class="button" id="multi-user-button">Мультиплеер</button></li>
        </ul>
        <ul id="menu-button-set-2">
            <li class="li-button"><button class="button" id="create-room-button">Создать комнату</button></li>
            <li class="li-button"><button class="button" id="enter-room-button">Войти в комнату</button></li>
        </ul>
        <div id="form-snake-room" class="form">
            <div class="input-container-snake">
                <input id="snake-name" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="snake-name" class="placeholder">Имя змейки</label>
            </div>
            <div class="input-container-room">
                <input id="room-name" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="room-name" class="placeholder">Имя комнаты</label>
            </div>
            <button id="button-perform" class="button">Выполнить</button>
        </div>
    </div>
    <div id="containerGame">
        <nav id="settings-menu">
            <ul id="menuGame">
                <li><a>Сложность</a>
                    <ul>
                        <li><a href="/lvl-slow">Легкий</a></li>
                        <li><a href="/lvl-average">Средний</a></li>
                        <li><a href="/lvl-fast">Сложный</a></li>
                    </ul>
                </li>
                <li><a>Размер</a>
                    <ul>
                        <li><a href="/board-little">Поле 15х10</a></li>
                        <li><a href="/board-average">Поле 30х20</a></li>
                        <li><a href="/board-big">Поле 60х40</a></li>
                    </ul>
                </li>
                <li><a>Еда</a>
                    <ul>
                        <li><a href="/foods-1">1</a></li>
                        <li><a href="/foods-3">3</a></li>
                        <li><a href="/foods-6">6</a></li>
                    </ul>
                </li>
                <li><a>Стены</a>
                    <ul>
                        <li><a href="/walls-yes">Да</a></li>
                        <li><a href="/walls-no">Нет</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="score"></div>
        <canvas id="gameCanvas" th:width="600" th:height="400"></canvas>
        <button class="button" id="restart">Начать заново</button>
    </div>
    <div id="text-error"></div>
    <div class="version">v.2.4.20 12.03.2024</div>
    <div id="mobile-message">Игра не поддерживается на сенсорных устройствах!</div>
    <script src="../web/script.js?v=<%= System.currentTimeMillis() %"></script>
<!--    ?v=<%= System.currentTimeMillis() %-->
</body>
</html>