<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="no-cache, no-store, must-revalidate">
    <title>Snake Game</title>
    <link rel="stylesheet" href="../web/styles.css">
<!--    ?v=<%= System.currentTimeMillis() %-->
</head>
<body>
    <div id="container">
        <nav class="dws_menu">
            <ul id="menu">
                <li><a href="#">Скорость</a>
                    <ul>
                        <li><a href="/lvl-slow">Медленная</a></li>
                        <li><a href="/lvl-average">Средняя</a></li>
                        <li><a href="/lvl-fast">Быстрая</a></li>
                    </ul>
                </li>
                <li><a href="#">Размер</a>
                    <ul>
                        <li><a href="/board-little">Маленький</a></li>
                        <li><a href="/board-average">Средний</a></li>
                        <li><a href="/board-big">Большой</a></li>
                    </ul>
                </li>
                <li><a href="#">Еда</a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">6</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="score">Очки: 0</div>
        <canvas id="gameCanvas" th:width="600" th:height="400"></canvas>
        <button id="restart">Начать заново</button>
    </div>
    <div id="mobile-message">Игра не поддерживается на сенсорных устройствах!</div>
    <script src="../web/script.js?v=<%= System.currentTimeMillis() %"></script>
</body>
</html>